name: Build and Push to ECR

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ap-south-1
  ECR_REPOSITORY: demo/ssa

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build Docker image
      run: docker build -t ssaprime-backend .

    - name: Tag Docker image
      run: |
        docker tag ssaprime-backend:latest \
        225989351123.dkr.ecr.ap-south-1.amazonaws.com/demo/ssa:latest

    - name: Push Docker image
      run: |
        docker push 225989351123.dkr.ecr.ap-south-1.amazonaws.com/demo/ssa:latest
